.container {
 padding: 50px 10px;
}
.footer {
  background-color: #333333;
  color: #fff;
}
.btn-primary{
  background-color: #333333;
  border: #333333;
}
.form-check-input:checked {
  background-color: #333333;
  border-color: #333333;
}
.accordion-button:focus {
  border-color: #333333;
}
.accordion-button:not(.collapsed) {
  color: #000;
  background-color: #fff;
  box-shadow: #333333;
}
.accordion {
  --bs-accordion-btn-focus-border-color: #333333 !important;
  --bs-accordion-active-bg: #333333 !important;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0 !important;
}
.card{
  margin: 10px;
}